<!doctype html>
<html>
<head>
  <title>{{ site.title }}</title>

  <!-- Page Meta -->
  <meta charset="utf-8" />
  <meta name="description" content="{{ site.meta }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Social Media Open Graph -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.meta }}">
  <meta property="og:image" content="{{ site.baseurl }}/thumbnail.jpg">
  <meta property="og:url" content="{{ site.baseurl }}">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Icons -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/iPhone-6-Plus.png">

  <!-- Styles -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/zap.css"> -->
  <link rel="stylesheet" href="http://info.fergusapp.com/rs/163-RUO-573/images/zap.css">

  <!-- Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/man2jky.css">

  <!-- Font Awesome 5 -->
  <script defer src="http://info.fergusapp.com/rs/163-RUO-573/images/fa-brands.min.js"></script>
  <script defer src="http://info.fergusapp.com/rs/163-RUO-573/images/fa-solid.min.js"></script>
  <script defer src="http://info.fergusapp.com/rs/163-RUO-573/images/fa-regular.min.js"></script>
  <script defer src="http://info.fergusapp.com/rs/163-RUO-573/images/fontawesome.min.js"></script>

  <style>
    .mktoImg.mktoGen {
      display: block !important;
    }
  </style>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- SITE META -->
  <meta class="mktoString" id="meta_title" mktoName="Meta - Title" default="Fergus | Quote, estimate and invoice" allowHtml="true">
  <meta class="mktoString" id="meta_description" mktoName="Meta - Description" default="Description" allowHtml="true">
  <meta class="mktoString" id="meta_url" mktoName="Meta - URL" default="https://fergus.com" allowHtml="true">

  <!-- HERO -->
  <meta class="mktoString" id="hero_title" mktoName="Hero - Title" default="Quote, estimate and invoice" allowHtml="true">
  <meta class="mktoString" id="hero_subtitle" mktoName="Hero - Subtitle" default="All from the same place. Forget data entry." allowHtml="true">
  <meta class="mktoString" id="hero_btnLink" mktoName="Hero - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="hero_btnText" mktoName="Hero - Button Text" default="Free Trial" allowHtml="true">
  <meta class="mktoString" id="hero_disclaimer" mktoName="Hero - Disclaimer" default="No credit card required. Try it for 30 days for free." allowHtml="true">

  <!-- THREE COL ICON -->
  <meta class="mktoString" id="threeCI_introTitle" mktoName="Three Col Icon - Intro Title" default="The nuts and bolts" allowHtml="true">
  <meta class="mktoString" id="threeCI_introSubtitle" mktoName="Three Col Icon - Intro Subtitle" default="Create detailed quotes, carry out the work and then eliminate double handling by exporting as an invoice." allowHtml="true">
  <meta class="mktoString" id="threeCI_title1" mktoName="Three Col Icon - Title 1" default="Title 1" allowHtml="true">
  <meta class="mktoString" id="threeCI_title2" mktoName="Three Col Icon - Title 2" default="Title 2" allowHtml="true">
  <meta class="mktoString" id="threeCI_title3" mktoName="Three Col Icon - Title 3" default="Title 3" allowHtml="true">
  <meta class="mktoString" id="threeCI_btnLink" mktoName="Three Col Icon - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="threeCI_btnText" mktoName="Three Col Icon - Button Text" default="Free Trial" allowHtml="true">


  <!-- THREE COL IMAGE -->
  <meta class="mktoString" id="threeCIMG_introTitle" mktoName="Three Col Icon - Intro Title" default="The nuts and bolts" allowHtml="true">
  <meta class="mktoString" id="threeCIMG_introSubtitle" mktoName="Three Col Icon - Intro Subtitle" default="Create detailed quotes, carry out the work and then eliminate double handling by exporting as an invoice." allowHtml="true">
  <meta class="mktoString" id="threeCIMG_title1" mktoName="Three Col Icon - Title 1" default="Title 1" allowHtml="true">
  <meta class="mktoString" id="threeCIMG_title2" mktoName="Three Col Icon - Title 2" default="Title 2" allowHtml="true">
  <meta class="mktoString" id="threeCIMG_title3" mktoName="Three Col Icon - Title 3" default="Title 3" allowHtml="true">
  <meta class="mktoString" id="threeCIMG_btnLink" mktoName="Three Col Icon - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="threeCIMG_btnText" mktoName="Three Col Icon - Button Text" default="Free Trial" allowHtml="true">


  <!-- PLAIN CTA -->
  <meta class="mktoString" id="plainCTA_title" mktoName="Plain CTA - Title" default="The nuts and bolts" allowHtml="true">
  <meta class="mktoString" id="plainCTA_subtitle" mktoName="Plain CTA - Subtitle" default="Create detailed quotes, carry out the work and then eliminate double handling by exporting as an invoice." allowHtml="true">
  <meta class="mktoString" id="plainCTA_btnLink" mktoName="PlainC TA - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="plainCTA_btnText" mktoName="Plain CTA - Button Text" default="Free Trial" allowHtml="true">


  <!-- VIDEO -->
  <meta class="mktoString" id="video_title" mktoName="Video - Title" default="The nuts and bolts" allowHtml="true">
  <meta class="mktoString" id="video_subtitle" mktoName="Video - Subtitle" default="Create detailed quotes, carry out the work and then eliminate double handling by exporting as an invoice." allowHtml="true">


  <!-- IMAGE LEFT TEXT RIGHT -->
  <meta class="mktoString" id="imageLTR_title" mktoName="Image Left Text Right - Title" default="The nuts and bolts" allowHtml="true">
  <meta class="mktoString" id="imageLTR_btnLink" mktoName="Image Left Text Right - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="imageLTR_btnText" mktoName="Image Left Text Right - Button Text" default="Free Trial" allowHtml="true">


  <!-- FORM -->
  <meta class="mktoString" id="form_title" mktoName="Form - Title" default="Sign up Form" allowHtml="true">
  <meta class="mktoString" id="form_subtitle" mktoName="Form - Subitle" default="This is an example of a form block for marketo" allowHtml="true">


  <!-- SINGLE CTA -->
  <meta class="mktoString" id="singleCTA_btnLink" mktoName="Single CTA - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="singleCTA_btnText" mktoName="Single CTA - Button Text" default="Free Trial" allowHtml="true">


  <!-- TESTIMONIAL -->
  <meta class="mktoString" id="testimonial_title" mktoName="Testimonial - Title" default="What our customers have to say..." allowHtml="true">
  <meta class="mktoString" id="testimonial_subtitle" mktoName="Testimonial - Subitle" default="Create detailed quotes, carry out the work and then eliminate double handling by exporting as an invoice." allowHtml="true">

  <meta class="mktoString" id="testimonial_quote1" mktoName="Testimonial - Quote 1" default="This job app software is amazing! It has cut my office time in half." allowHtml="true">
  <meta class="mktoString" id="testimonial_name1" mktoName="Testimonial - Name 1" default="Ryan Walker" allowHtml="true">
  <meta class="mktoString" id="testimonial_company1" mktoName="Testimonial - Company 1" default="Owner, Three Ducks Solutions Ltd." allowHtml="true">

  <meta class="mktoString" id="testimonial_quote2" mktoName="Testimonial - Quote 2" default="This job app software is amazing! It has cut my office time in half." allowHtml="true">
  <meta class="mktoString" id="testimonial_name2" mktoName="Testimonial - Name 2" default="Ryan Walker" allowHtml="true">
  <meta class="mktoString" id="testimonial_company2" mktoName="Testimonial - Company 2" default="Owner, Three Ducks Solutions Ltd." allowHtml="true">

  <meta class="mktoString" id="testimonial_quote3" mktoName="Testimonial - Quote 3" default="This job app software is amazing! It has cut my office time in half." allowHtml="true">
  <meta class="mktoString" id="testimonial_name3" mktoName="Testimonial - Name 3" default="Ryan Walker" allowHtml="true">
  <meta class="mktoString" id="testimonial_company3" mktoName="Testimonial - Company 3" default="Owner, Three Ducks Solutions Ltd." allowHtml="true">

  <meta class="mktoString" id="testimonial_quote4" mktoName="Testimonial - Quote 4" default="This job app software is amazing! It has cut my office time in half." allowHtml="true">
  <meta class="mktoString" id="testimonial_name4" mktoName="Testimonial - Name 4" default="Ryan Walker" allowHtml="true">
  <meta class="mktoString" id="testimonial_company4" mktoName="Testimonial - Company 4" default="Owner, Three Ducks Solutions Ltd." allowHtml="true">


  <!-- MAIN CTA -->
  <meta class="mktoString" id="mainCTA_title" mktoName="Main CTA - Title" default="Try it free for 30 days" allowHtml="true">
  <meta class="mktoString" id="mainCTA_subtitle" mktoName="Main CTA - Subitle" default="All from the same place. Forget data entry." allowHtml="true">
  <meta class="mktoString" id="mainCTA_disclaimer" mktoName="Main CTA - Disclaimer" default="No credit card required. Try it for 30 days for free." allowHtml="true">
  <meta class="mktoString" id="mainCTA_btnLink" mktoName="Main CTA - Button Link" default="http://fergus.com" allowHtml="true">
  <meta class="mktoString" id="mainCTA_btnText" mktoName="Main CTA - Button Text" default="Free Trial" allowHtml="true">

</head>
<body>


<!-- <header class="l-band -band">
  <div class="l-wrap">
    <menu class="m-nav">
      <div class="m-nav__group">
        <div class="m-nav__item">
          <img src="{{ site.baseurl }}/assets/img/fergus-logo.svg" />
        </div>
      </div>
    </menu>
  </div>
</header> -->

<header class="l-band -band u-pad-top-5vh u-marg-bottom-5vh">
  <div class="l-wrap">
    <menu class="m-nav -center">
      <div class="m-nav__group">
        <div class="m-nav__item">
          <img src="http://info.fergusapp.com/rs/163-RUO-573/images/fergus-logo.svg" />
        </div>
      </div>
    </menu>
  </div>
</header>



<section class="l-band">
  <div class="l-wrap">
    <div class="l-row u-marg-bottom-5vh">
      <div class="l-row__col -w-16 u-align-center">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -xtight">
          ${hero_title}
        </h1>
        <h3 class="s-head -m-h3 -medium -narrow">
          ${hero_subtitle}
        </h3>

        <a href="${hero_btnLink}" class="s-btn -round -accent -broader">
          ${hero_btnText}
        </a>

        <p class="u-marg-top-tight">
          ${hero_disclaimer}
        </p>
      </div>
    </div>

    <div class="l-row">
      <div class="l-row__col -m-16 -t-14 -d-12 -v-10 -center">
        <img class="mktoImg" id="hero_image" mktoName="Hero - Image">
      </div>
    </div>
  </div>
</section>




<section class="l-band -tint -shade-light u-pad-ml-y-11vh u-pad-y-8vh">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -w-16 u-align-center">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -xtight">
          ${threeCI_introTitle}
        </h1>
        <h3 class="s-head -m-h4 -medium -tight">
          ${threeCI_introSubtitle}
        </h3>
      </div>
    </div>

    <div class="l-row">
      <div class="l-row__col -m-16 -t-14 -d-11 -center">
        <div class="l-row -wide u-marg-bottom-tight">
          <div class="l-row__col -m-16 -ml-1-3 -t-1-3 u-pad-y-3vh">
            <img class="mktoImg s-thumb -round u-marg-bottom-2vh" id="threeCI_image1" mktoName="Three Col Icon - Image 1">
            <h3 class="s-head -medium -xtight">
              ${threeCI_title1}
            </h3>
            <div class="mktoText" id="threeCI_body1" mktoName="Body 1">
              Optionally add default text for the editable text area.
            </div>
          </div>

          <div class="l-row__col -m-16 -ml-1-3 -t-1-3 u-pad-y-3vh">
            <img class="mktoImg s-thumb -round u-marg-bottom-2vh" id="threeCI_image2" mktoName="Three Col Icon - Image 2">
            <h3 class="s-head -medium -xtight">
              ${threeCI_title2}
            </h3>
            <div class="mktoText" id="threeCI_body2" mktoName="Body 2">
              Optionally add default text for the editable text area.
            </div>
          </div>

          <div class="l-row__col -m-16 -ml-1-3 -t-1-3 u-pad-y-3vh">
            <img class="mktoImg s-thumb -round u-marg-bottom-2vh" id="threeCI_image3" mktoName="Three Col Icon - Image 3">
            <h3 class="s-head -medium -xtight">
              ${threeCI_title3}
            </h3>
            <div class="mktoText" id="threeCI_body3" mktoName="Body 3">
              Optionally add default text for the editable text area.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-row">
      <div class="l-row__col -w-16 u-align-center">
        <a href="${threeCI_btnLink}" class="s-btn -small -round -accent -broad">
          ${threeCI_btnText}
        </a>
      </div>
    </div>

  </div>
</section>




<section class="l-band -tint -shade-light u-pad-ml-y-11vh u-pad-y-8vh">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -w-16 u-align-center">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -xtight">
          ${threeCIMG_introTitle}
        </h1>
        <h3 class="s-head -m-h4 -medium -tight">
          ${threeCIMG_introSubtitle}
        </h3>
      </div>
    </div>

    <div class="l-row">
      <div class="l-row__col -m-16 -t-14 -d-11 -center">
        <div class="l-row -wide u-marg-bottom-tight">
          <div class="l-row__col -m-16 -ml-1-3 -t-1-3 u-pad-y-3vh">
            <img class="mktoImg s-img u-marg-bottom-2vh" id="threeCIMG_image1" mktoName="Three Col Icon - Image 1">
            <h3 class="s-head -medium -xtight">
              ${threeCIMG_title1}
            </h3>
            <div class="mktoText" id="threeCIMG_body1" mktoName="Body 1">
              Optionally add default text for the editable text area.
            </div>
          </div>

          <div class="l-row__col -m-16 -ml-1-3 -t-1-3 u-pad-y-3vh">
            <img class="mktoImg s-img u-marg-bottom-2vh" id="threeCIMG_image2" mktoName="Three Col Icon - Image 2">
            <h3 class="s-head -medium -xtight">
              ${threeCIMG_title2}
            </h3>
            <div class="mktoText" id="threeCIMG_body2" mktoName="Body 2">
              Optionally add default text for the editable text area.
            </div>
          </div>

          <div class="l-row__col -m-16 -ml-1-3 -t-1-3 u-pad-y-3vh">
            <img class="mktoImg s-img u-marg-bottom-2vh" id="threeCIMG_image3" mktoName="Three Col Icon - Image 3">
            <h3 class="s-head -medium -xtight">
              ${threeCIMG_title3}
            </h3>
            <div class="mktoText" id="threeCIMG_body3" mktoName="Body 3">
              Optionally add default text for the editable text area.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-row">
      <div class="l-row__col -w-16 u-align-center">
        <a href="${threeCIMG_btnLink}" class="s-btn -small -round -accent -broad">
          ${threeCIMG_btnText}
        </a>
      </div>
    </div>

  </div>
</section>





<section class="l-band -white u-pad-ml-y-11vh u-pad-y-8vh">
  <div class="l-wrap">

    <div class="l-row u-align-center">
      <div class="l-row__col -w-16">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -tight">
          ${plainCTA_title}
        </h1>
        <h3 class="s-head -m-h4 -medium -narrow">
          ${plainCTA_subtitle}
        </h3>
        <a href="${plainCTA_btnLink}" class="s-btn -small -round -accent -broad">
          ${plainCTA_btnText}
        </a>
      </div>
    </div>

  </div>
</section>






<section class="l-band -brand u-color-white u-pad-ml-y-11vh u-pad-y-8vh u-align-center">
  <div class="l-wrap">
    <h1 class="s-head -m-h2 -ml-h2 -semi-bold -xtight">
      ${video_title}
    </h1>
    <h3 class="s-head -m-h4 -medium -xwide">
      ${video_subtitle}
    </h3>
    <div class="l-row">
      <div class="l-row__col -m-16 -t-14 -d-10 -v-10 -center">
        <div class="mktoVideo" id="video_embed" mktoName="Video URL">
        </div>
      </div>
    </div>

  </div>
</section>





<section class="l-band u-pad-ml-y-11vh u-pad-y-8vh">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -m-16 -t-12 -d-11 -center">

        <div class="l-row -flex -middle -wrap -wide">
          <div class="l-row__col -m-16 -t-8 u-marg-m-bottom-tight u-marg-ml-bottom-tight">
            <img class="mktoImg s-img" id="imageLTR_image" mktoName="Image Left Text Right - Image">
          </div>
          <div class="l-row__col -m-16 -t-8">
            <h3 class="s-head -medium -tight">
              ${imageLTR_title}
            </h3>
            <div class="mktoText u-marg-bottom-tight" id="imageLTR_body" mktoName="Body">
              Optionally add default text for the editable text area.
            </div>
            <a href="${imageLTR_btnLink}" class="s-btn -round -accent -broad -small u-marg-top-xtight">
              ${imageLTR_btnText}
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<section class="l-band -shade-light u-pad-ml-y-11vh u-pad-y-8vh">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -m-16 -t-9 -d-8 -v-8 -center">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -xtight u-align-center">
          ${form_title}
        </h1>
        <h3 class="s-head -m-h4 -medium -xwide u-align-center">
          ${form_subtitle}
        </h3>
        <div class="m-card">
          <div class="mktoForm" id="exampleForm" mktoName="Example Form">
          </div>
          <!-- <form class="m-form u-marg-auto">
            <div class="m-form__item">
              <label for="fullname">Full name</label>
              <input id="fullname" type="text" placeholder="Fullname" class="-fluid">
            </div>
            <div class="m-form__item">
              <label for="email">Email</label>
              <input id="email" type="email" placeholder="Email" class="-fluid">
            </div>

            <div class="m-form__item">
              <label for="message">Textfield Block</label>
              <textarea name="firstname" class="-fluid">Some text...</textarea>
            </div>
            <div class="m-form__item">
              <label class="m-form__checkbox">
                I agree to the Terms and Conditions
                <input type="checkbox"/>
                <div class="m-form__checkbox-indicator"></div>
              </label>

              <label class="m-form__radio">Disabled &amp; checked
                <input type="radio" name="radio2">
                <div class="m-form__radio-indicator"></div>
              </label>
            </div>

            <div class="m-form__item">
              <label for="email">Email</label>
              <div class="m-form__select">
                <select>
                  <option>First select</option>
                  <option>Option</option>
                  <option>Option</option>
                </select>
                <div class="m-form__select-arrow"></div>
              </div>
            </div>

            <div class="m-form__item u-align-center">
              <button type="submit" class="s-btn -accent -round -broader">
                SUBMIT
              </button>
            </div>

          </form> -->
        </div>
      </div>
    </div>

  </div>
</section>


<section class="l-band u-pad-y-5vh">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -m-16 u-align-center">

        <a href="${singleCTA_btnLink}" class="s-btn -round -accent -broad -small">
          ${singleCTA_btnText}
        </a>

      </div>
    </div>

  </div>
</section>


<section class="l-band -shade-light u-pad-ml-y-11vh u-pad-y-8vh">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -m-16 -t-15 -d-16 -v-14 -center">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -tight u-align-center">
          ${testimonial_title}
        </h1>
        <h3 class="s-head -m-h4 -medium -narrow u-align-center">
          ${testimonial_subtitle}
        </h3>

        <div class="l-row">
          <div class="l-row__col -m-16 -t-16 -d-14 -v-14 -center">
            <div class="l-row -wide u-marg-bottom-tight u-align-center">
              <div class="l-row__col -m-16 -t-8 -d-4 u-pad-y-3vh">
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <p class="s-head -h4 -tight -semi-bold u-marg-top-tight">
                  “${testimonial_quote1}”
                </p>

                <p class="s-head -h6">
                  <strong>${testimonial_name1}</strong><br />
                  ${testimonial_company1}
                </p>
              </div>

              <div class="l-row__col -m-16 -t-8 -d-4 u-pad-y-3vh">
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <p class="s-head -h4 -tight -semi-bold u-marg-top-tight">
                  “${testimonial_quote2}”
                </p>
                <p class="s-head -h6">
                  <strong>${testimonial_name2}</strong><br />
                  ${testimonial_company2}
                </p>
              </div>

              <div class="l-row__col -m-16 -t-8 -d-4 u-pad-y-3vh">
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <p class="s-head -h4 -tight -semi-bold u-marg-top-tight">
                  “${testimonial_quote3}”
                </p>
                <p class="s-head -h6">
                  <strong>${testimonial_name3}</strong><br />
                  ${testimonial_company3}
                </p>
              </div>

              <div class="l-row__col -m-16 -t-8 -d-4 u-pad-y-3vh">
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <i class="fas fa-star u-color-yellow"></i>
                <p class="s-head -h4 -tight -semi-bold u-marg-top-tight">
                  “${testimonial_quote4}”
                </p>
                <p class="s-head -h6">
                  <strong>${testimonial_name4}</strong><br />
                  ${testimonial_company4}
                </p>
              </div>

            </div>

            <img src="http://info.fergusapp.com/rs/163-RUO-573/images/capterra-logo.png" class="s-img" style="display: block; width: 100%; max-width: 180px; margin: auto;" />
          </div>
        </div>


      </div>
    </div>

  </div>
</section>



<section class="l-band -brand-alt u-pad-y-5vh u-color-white">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -m-16 -t-12 -d-11 -center u-align-center">
        <h1 class="s-head -m-h2 -ml-h2 -semi-bold -xtight">
          ${mainCTA_title}
        </h1>
        <h3 class="s-head -m-h4 -medium -tight">
          ${mainCTA_subtitle}
        </h3>
        <a href="${mainCTA_btnLink}" class="s-btn -round -accent -broad -small">
          ${mainCTA_btnText}
        </a>
        <p class="s-head -h6 u-marg-top-tight">
          ${mainCTA_disclaimer}
        </p>


      </div>
    </div>

  </div>
</section>



<section class="l-band -brand u-pad-y-5vh u-color-white">
  <div class="l-wrap">

    <div class="l-row">
      <div class="l-row__col -m-16 -t-5 u-pad-y-xtight">
        <img src="http://info.fergusapp.com/rs/163-RUO-573/images/fergus-logo-white.svg" class="s-img -footer" />
      </div>
      <div class="l-row__col -m-16 -t-10">
        <div class="l-row">
          <div class="l-row__col -m-16 -t-1-3 -d-1-3 u-pad-y-tight">
            <ul class="m-list -tight -footer -footer">
              <li class="m-list__item">
                <h4 class="s-head u-color-white -semi-bold -tight">Resources</h4>
              </li>
              <li class="m-list__item">
                <a href="https://fergusapp.com/en/about">About us</a>
              </li>
              <li class="m-list__item">
                <a href="https://fergusapp.com/pricing">Pricing</a>
              </li>
              <li class="m-list__item">
                <a href="https://fergusapp.com/en/pricing#faq">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="l-row__col -m-16 -t-1-3 -d-1-3 u-pad-y-tight">
            <ul class="m-list -tight -footer">
              <li class="m-list__item">
                <h4 class="s-head u-color-white -semi-bold -tight">How we help</h4>
              </li>
              <li class="m-list__item">
                <a href="http://go.fergusapp.com/plumbing/">Plumbers</a>
              </li>
              <li class="m-list__item">
                <a href="http://go.fergusapp.com/electrical/">Electricians</a>
              </li>
              <li class="m-list__item">
                <a href="http://go.fergusapp.com/hvac/">HVAC</a>
              </li>
              <li class="m-list__item">
                <a href="https://fergusapp.com/en/about">More</a>
              </li>
            </ul>
          </div>
          <div class="l-row__col -m-16 -t-1-3 -d-1-3 u-pad-y-tight">
            <ul class="m-list -tight -footer">
              <li class="m-list__item">
                <h4 class="s-head u-color-white -semi-bold -tight">Other Features</h4>
              </li>
              <li class="m-list__item">
                <a href="http://go.fergusapp.com/scheduling/">Scheduling</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <p class="s-head -h5 u-color-white u-pad-top-5vh">
      © Fergus
    </p>
  </div>
</section>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="http://info.fergusapp.com/rs/163-RUO-573/images/main.js"></script>

</body>
</html>
